.container{
  width: 100%;
  max-width: 1250px;
  margin: auto;
}
:root{
  --main-green: #7AC751;
  --main-grey: #F1FAFF;
  --main-grey2: #F7F8FA;
  --main-color: #555555;
  --main-color2: #515151;
  --main-blue: #00B7F1;
  --main-red: #FF6868;
  --main-white: #fff;
}
a{
  text-decoration: none;
}